/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typo */
body {
    font-family: 'Poppins', sans-serif;
    max-width: 1920px;
}

/* common */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container  {
    margin: auto;
    max-width: 70%;
    position: relative;
}

.col-left, .col-central, .col-right {
    background-color: #3161e0;
    height: 80px;
    float: left;
}

.col-left, .col-right {
    width: 15%;
}

.col-central {
    width: 70%;
    margin: auto;
}

.col-right {
    position: absolute;
    right: 0;
}

.button-general {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
}

/* header */
header {
    background-color: #3161e0;
    color: white;
}

.align-right {
    right: 0px;
    position: absolute;
}

.logo {
}

.main-nav ul {
    list-style: none;
    text-align: center;
    word-spacing: 50px;
}

.main-nav li {
    display: inline-block;
}

.logo, .main-nav ul, .align-right {
    margin-top: 25px;
}

/* main */
/* section1 */
.section1 {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
    text-align: center;
}

.container1 {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button1b {
    margin: auto;
    background-color: black;
    color: white;
}

.buttons-section1 {
    margin-top: 30px;
}
